@import url('fonts.css');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans 7pt', Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 2500px;
    padding: 0;
    margin: 0 auto;
}

.header {
    background-color: #131313;
    min-height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__container {
    min-width: 1256px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 180px;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color:  #E3B873;
    text-transform: uppercase;
}

.header__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 47px;
}

.header__link {
    text-decoration: none;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}

.header__link__color {
    color: #E3B873;
}

.header__link__txt-dec {
    text-decoration: underline;
}

.header__wrapper-call {
    display: flex;
    gap: 45px;
    align-items: center;
}

.btn {
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: none;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.header__btn {
    width: 161px;
    min-height: 37px;
    padding: 13px 33px;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
}

.hero {
    min-height: 707px;
    background-image: url(../images/jpg/background-1.jpg);
    background-size: cover;
    position: relative;
    padding-top: 194px;
    display: flex;
    justify-content: center;
    margin-top: -1px;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
}

.hero__wrapper {
    width: 1172px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
}

.hero__title {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 19px;
    width: 530px;
}

.hero__title__color {
    color: #E3B873;
}

.hero__text {
    margin: 0;
    font-style: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 41px;
    width: 550px;
}

.hero__wrapper-btn {
    display: flex;
    gap: 20px;
}

.hero__btn {
    width: 207px;
    min-height: 51px;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}

.hero__btn-2 {
    border: 1px solid #FFFFFF;
    background-color: transparent;
}

.info-block {
    min-height: 1074px;
    background-color: #131313;
    padding-top: 107px;
    display: flex;
    justify-content: center;
    margin-top: -1px;
}

.info-block__img-mobile {
    display: none;
}

.info-block__container {
    display: flex;
    gap: 50px;
}

.info-block__text {
    display: flex;
    flex-direction: column;
}

.info-block__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;
    margin-bottom: 34px;
    margin-top: 69px;
}

.info-block__text-item {
    width: 442px;
    margin: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.info-block__text-wrapper {
    display: grid;
    grid-template-columns: 161px 213px;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 34px;
    grid-column-gap: 29px;
    margin-bottom: 79px;
}

.info-block__text-wrapper-item {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.info-block__subtitle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
    color: #E3B873;
}

.info-block__details {
    font-style: normal;
    font-size: 13px;
    line-height: normal;
    color: #FFFFFF;
}

.info-block__photo {
    display: flex;
    flex-direction: column;
    gap: 53px;
}

.info-block__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 60px;
}

.info-block__btn {
    border: none;
    background-color: transparent;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.info-block__btn__style {
    color: #E3B873;
    text-decoration: underline;
}

.info-block__arrows-dots {
    display: flex;
    gap: 29px;
    align-items: center;
}

.info-block__dots-wrapper {
    display: flex;
    gap: 18px;
}

.info-block__dots {
    width: 9.57px;
    min-height: 9.57px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.info-block__dots:first-child {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info-block__arrows {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.broadcast {
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin-top: -323px;
    margin-bottom: 148px;
}

.broadcast__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.broadcast__title {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.broadcast__icon {
    margin-bottom: 31px;
}

.broadcast__img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 62px;
}

.broadcast__img-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
}

.broadcast__img-btn {
    position: absolute;
    z-index: 1;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.broadcast__line {
    margin-bottom: 34px;
}

.broadcast__text {
    margin: 0;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    line-height: 37px;
    color: #363636;
    margin-bottom: 91px;
    width: 710px;
}

.broadcast__form {
    display: flex;
    gap: 58px;
    margin-bottom: 33px;
}

.form-item {
    display: flex;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.form-title {
    font-style: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.form-text {
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
}

.broadcast__form-text {
    color: #363636;
}

.broadcast__input {
    width: 90px;
    border: none;
}

.broadcast__btn {
    margin-left: -9px;
    width: 200px;
    min-height: 51px;
    font-style: normal;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
}

.checkbox-label {
    cursor: pointer;
}

.checkbox-input {
    display: none;
}

.fake {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #E3B873;
  color: #FFFFFF;
  justify-content: center;
}

.fake::before {
    content: '\2714';
    opacity: 0;
    transition: .2s;
}

.checkbox-input:checked + .fake::before {
    opacity: 1;
}

.checkbox-text {
    font-style: normal;
    font-size: 14px;
    line-height: 23px;  
}

.broadcast__checkbox-text {
    color: #181818;
}

.cards__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 124px;
}

.cards__title {
    margin: 0;
    margin-bottom: 13px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.cards__icon {
    margin-bottom: 31px;
}

.cards__wrapper {
    display: flex;
    gap: 30px;
}

.cards__wrapper-item {
    display: flex;
    flex-direction: column;
}

.cards__text {
    width: 330px;
    min-height: 286px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-top: 25px;
    padding-left: 34px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    align-self: center;
    margin-top: -127px;
}

.cards__subtitle {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

.cards__list {
    margin: 0;
    padding: 0;
    list-style: disc;
    font-style: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.cards__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 31px;
    margin-top: -27px;
    width: 228px;
    min-height: 54px;
    background-color: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.request {
    min-height: 726px;
    padding-top: 106px;
    display: flex;
    justify-content: center;
    background-image: url(../images/jpg/background-2.jpg);
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    margin-bottom: 130px;
}

.request__container {
    display: flex;
    justify-content: end;
    gap: 170px;
    width: 1236px;
}

.request__list {
    display: flex;
    flex-direction: column;
    gap: 102px;
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 415px;
    min-height: 474px;
}

.request__list-item {
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    padding-left: 50px;
    position: relative;
}

.request__list-item:first-child::before {
    content: url(../images/svg/bullet-point-1.svg);
    position: absolute;
    top: -20px;
    left: -25px;
}

.request__list-item:nth-child(2)::before {
    content: url(../images/svg/bullet-point-2.svg);
    position: absolute;
    top: -30px;
    left: -25px;
}

.request__list-item:nth-child(3)::before {
    content: url(../images/svg/bullet-point-3.svg);
    position: absolute;
    top: -30px;
    left: -25px;
}

.request__list-item:last-child::before {
    content: url(../images/svg/bullet-point-4.svg);
    position: absolute;
    top: -20px;
    left: -25px;
}

.request__wrapper {
    display: flex;
    flex-direction: column;
    gap: 38px;
    align-items: center;
}

.request__form-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 28px;
    padding-left: 49px;
    background-color: #131313;
    width: 506px;
    min-height: 509px;
}

.request__text {
    margin: 0;
    margin-bottom: 39px;
    margin-left: -50px;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.request__form {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 16px;
}

.request__form-title {
    color: rgba(255, 255, 255, 0.5);
}

.request__form-text {
    color: #FFFFFF;
}

.request__input {
    border: none;
    background-color: transparent;
}

.request__form-item {
    width: 408px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.request__checkbox-text {
    color: #FFFFFF;
}

.request__checkbox {
    margin-bottom: 39px;
}

.request__btn {
    width: 213px;
    min-height: 51px;
    align-self: flex-end;
    margin-right: 49px;
}

.request__icon {
    display: flex;
    width: 441px;
    align-items: center;
}

.request__icon-text {
    margin: 0;
    margin-top: -15px;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.gallery {
    display: flex;
    justify-content: center;
    min-height: 1018px;
    background-image: url(../images/jpg/background-3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 864px;
    background-position: center top 113px;
    position: relative;
    margin-bottom: 69px;
}

.gallery::after {
    content: "";
    position: absolute;
    top: 113px;
    right: 0;
    bottom: 41px;
    left: 0;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.gallery__btn-wrapper {
    display: none;
}

.gallery__container {
    position: relative;
    width: 1236px;
}

.gallery__list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 47px;
    min-width: 411px;
    position: absolute;
    top: 250px;
    z-index: 1;
}

.gallery__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 27px;
    line-height: normal;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;
}

.gallery__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.gallery__link {
    font-style: normal;
    font-size: 20px;
    line-height: normal;
    color: #FFFFFF;
    text-decoration: none;
}

.gallery__link__style {
    color: #E3B873;
    text-decoration: underline;
}

.gallery__img {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.gallery__img-1 {
    top: 73px;
    left: 488px;
}

.gallery__img-2 {
    top: 0;
    left: 885px;
}

.reviews {
    min-height: 997px;
    display: flex;
    justify-content: center;
    background-image: url(../images/jpg/background-4.jpg);
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 100% 777px;
}

.reviews__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin: 0;
    margin-bottom: 13px;
}

.reviews__icon {
    margin-bottom: 24px;
}

.reviews__text {
    margin: 0;
    margin-bottom: 39px;
    font-style: normal;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}

.reviews__wrapper {
    display: flex;
    gap: 54px;
    justify-content: center;
    width: 1236px;
}

.reviews__wrapper-item {
    display: flex;
    flex-direction: column;
    min-height: 455px;
    position: relative;
}

.reviews__comment-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 24px;
    padding-right: 25px;
    min-width: 376px;
    min-height: 428px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.reviews__img-wrapper {
    display: flex;
    gap: 23px;
    align-items: center;
    margin-bottom: 20px;
}

.reviews__img-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.reviews__comment {
    font-style: normal;
    font-size: 13px;
    line-height: 23px;
    color: #959595;
    margin: 0;
    margin-bottom: 62px;
}

.reviews__tag-wrapper {
    display: flex;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    width: 294px;
    position: absolute;
    bottom: 0;
}

.reviews__tag {
    display: flex;
    min-height: 54px;
    align-items: center;
    gap: 15px;
    justify-content: center;
    font-family: 'Yeseva One'; 
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.reviews__tag-1 {
    min-width: 134px;
    border-right: 0.75px solid #FFFFFF;
}

.reviews__tag-2 {
    min-width: 160px;
}

.contacts {
    min-height: 954px;
    background-image: url(../images/jpg/background-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.contacts::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

.contacts__container-wrapper {
    position: relative;
    width: 925px;
}

.contacts__container {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -222px;
}

.contacts__form-wrapper {
    width: 883px;
    min-height: 445px;
    background-color: #181818;
    padding-top: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 52px;
}

.contacts__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 46px;
}

.contacts__form {
    display: flex;
    width: 520px;
    flex-wrap: wrap;
    column-gap: 58px;
    row-gap: 48px;
    margin-bottom: 46px;
}

.contacts__form-item {
    width: 231px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.contacts__form-title {
    color: rgba(255, 255, 255, 0.5);
}

.contacts__form-text {
    color: #FFFFFF;
}

.contacts__input {
    width: 85px;
    border: none;
    background-color: transparent;
}

.contacts__form-item__size-big {
    width: 517px;
}

.contacts__checkbox-text {
    color: #FFFFFF;
}

.contacts__checkbox {
    margin-bottom: 50px;
}

.contacts__btn {
    width: 200px;
    min-height: 51px;
}

.contacts__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    margin-bottom: 43px;
}

.contacts__text {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    width: 589px;
}

.contacts__icons {
    display: flex;
    gap: 15px;
}

.footer {
    margin-top: -1px;
    min-height: 133px;
}


